# fly.toml app configuration file generated for automatedprayertimes on 2025-11-07T18:42:31Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'automatedprayertimes'
primary_region = 'lhr'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[restart]]
  policy = "always"
  retries = 0
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
